div.droogle-navigator {
  background: #f1f1f1;
  border: 1px solid #dadada;
  -webkit-border-radius: 3px;
  margin: 16px;
  padding: 4px 8px;
  width: 600px;
}

div.droogle-navigator .folder-up {
  list-style-image: url('images/folderup.png');
}
